html {
  font-family: monospace;
  background-color: rgb(29, 0, 41);
}

body {
  margin: 0;
}

.navigation-bar {
  position: sticky;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(51, 10, 80);
  color: rgb(205, 205, 205);
  box-shadow: 0 4px 8px rgb(56, 56, 56);
}

.name {
  display: flex;
  padding-left: 50px;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navigation-list {
  padding-right: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  color: rgb(205, 205, 205);
}

li {
  padding-right: 20px;
  font-size: 18px;
}

a {
  color: white;
}
