html {
  font-family: monospace;
  background-color: rgb(210, 131, 70);
}

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.first-container .second-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* header */
.first-container {
  /* display: flex; */
  /* align-items: top; */
  /* justify-content: space-between; */
  /* height: 380px; */
  background-color: rgb(227, 213, 190);
  color: rgb(45, 34, 34);
  /* box-shadow: 0 2px 4px rgb(190, 190, 190); */
}

.header {
  display: flex;
  height: 50px;
}

.navigation-list {
  padding-right: 0;
  padding-left: 150px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 50px;

  color: rgb(205, 205, 205);
}

li {
  padding-right: 50px;
  font-size: 18px;
}

a {
  color: rgb(45, 34, 34);
}

.subcontainers {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.subcontainer-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 80px;
  justify-content: flex-end;
}

.subcontainer-left {
  display: flex;
  height: 350px;
  width: 600px;
}

.profile-pic {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 500px;
  margin-left: 10px;
  margin-top: 40px;
}

.name {
  color: rgb(45, 34, 34);
  /* display: flex;
  flex: 1; */
  font-size: 80px;
  font-weight: bolder;
  margin-left: 10px;
  margin: 0;
}

.subtext {
  font-size: 18px;
  font-weight: bold;
  /* display: flex; */
  /* flex: 1; */
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 15px;
}
/* Main body styles */

.second-container {
  display: flex;
  flex-direction: row;
}

.filler {
  display: flex;
  width: 2500px;
  margin-right: 180px;
}

.about {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 10px;
  margin-right: 100px;
  margin-left: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-text {
  background-color: rgb(254, 145, 163, 0.4);
  padding: 10px;
}
